{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Iniciar sesión</h2>
    <form method="post" class="p-4 shadow-sm rounded border">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" name="username" class="form-control" id="username" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
    </form>
</div>
{% endblock %}
